# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
wheels/

# Environments
.venv/
.env/
.uv/

# Local e Sql
src/local/*.py
src/sql/*.sql
!src/local/test.py
!src/sql/test.sql

# VSCode / IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# uv environment file
uv.env
# environment file
.env